/* body {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1000px;
} */

.cards-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  cursor: pointer;
}
