.rules {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  font-weight: 200;
}

.cards-div {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  justify-content: center;
  cursor: pointer;
}

.scores-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.current-score,
.best-score {
  border-radius: 50px;
  margin: 0.1rem;
  width: 200px;
  padding: 0.1rem;
}

@keyframes scoreChange {
  0% {
    background-color: #131313;
    box-shadow: 0 0 20px #131313;
  }
  25% {
    background-color: #739244c3;
    box-shadow: 0 0 30px #739244c3;
  }
  50% {
    background-color: #c1ff6397;
    box-shadow: 0 0 40px #c1ff6397;
  }
  75% {
    background-color: #739244c3;
    box-shadow: 0 0 30px #739244c3;
  }
  100% {
    background-color: #131313;
    box-shadow: 0 0 20px #131313;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.animate {
  animation: scoreChange 0.2s ease-in-out, bounce 0.2s ease-in-out;
}
