.pokemon-img {
  width: 200px;
  background-color: #ffe8eb;
  border-radius: 12px;
}

.pokemon-name {
  font-size: 1.1rem;
}

.card {
  border-radius: 23px;
  padding: 0.7rem;
  margin: 1rem;
  background-color: #ffc0cb;
  color: #242424;
}

.card:hover {
  animation: glow 150ms ease-out forwards;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 0px 0px #242424;
  }
  100% {
    box-shadow: 0px 0px 10px 4px rgb(255, 216, 224);
  }
}
